<app-navbar [(rol)]="rol"></app-navbar>

<div class="container-fluid" style="margin-right:0;margin-left:0;overflow: hidden;" *ngIf="bot">
  <div class="row" style="
 
    ">
    <div class="col-8" (window:resize)="onResizeh8($event)" style="
  
      ">

      <div class="videobot">
        <img src="assets/kiovideo/{{video}}" width="500" height="auto" alt="bot">

      </div>

      <div class="voicehuman">
        <button class="btn btn-fill btn-wd" id="btnActivateSpeechSearchMovie" (click)="activateSpeechSearchMovie()"
          [disabled]="!showSearchButton">
          <img src="assets/images/icon/mic.png" width="107" height="107">
        </button>
        <div class="audio" (click)="mude()">
          <img src="assets/images/icon/{{imgaudio}}.png" width="100" height="100">
          <!-- <img src="assets/images/icon/audiomute.png" width="100" height="100"> -->
        </div>
      </div>
    </div>
    <div class="col-4" (window:resize)="onResizeh4($event)" id="botdiv" style="
      background: #000;
      padding-right: 0;
      padding-left: 0;">
      <div class="chat" id="message_list">
        <div class="bot-chat" *ngFor="let message of mensajeChat; let j=index">
          <div *ngIf=" message.tipo==='bot'">
            <div id="avatar_chat">
              <img src="assets/images/icon/kai_avatar.png" class="Bot-avatar">
            </div>
            <div class="arrow_box">
              {{message.mensaje}}
            </div>
            <div class="clearfix nd" *ngIf="message.quick_replies !== null">
              <div id="{{i}}bot{{j}}" class="butonschat" *ngFor="let item of message.quick_replies; let i=index"
                (click)="enviarAct(item,i,j)">
                <span>
                  {{item.title}}
                </span>
              </div>
              <!-- <div  *ngFor="let img of item.file; let i=index">
                <img src="{{img.url}}" *ngIf="img.ext == 'jpg' || img.ext == 'png' ||  img.ext == 'gif'">
              </div> -->
            </div>

          </div>
          <div *ngIf="message.tipo === 'usuario'">
            <div id="avatar_chat_r">
              <img src="assets/images/icon/avatar-user.jpg" class="Bot-avatar">
            </div>
            <div class="arrow_box-right">
              {{message.mensaje}}
            </div>
          </div>

        </div>



      </div>
      <div class="sendsms">
        <form>
          <input type="text" autocomplete="off" name="speechData" [(ngModel)]="speechData" id="messenger_input"
            placeholder="Escribe un mensaje" (blur)="habilitepho()" required />
          <button class="icon-plane" (click)="sendMsg(speechData)" title="enviar">enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="!bot" style="
  height: 90vh;
  ">
  <div class="row mg50">
    <div class="cel-izq" style="
      height: 90vh;
      ">
      <div class="poimg-im">
        <img src="assets/images/icon/celizq.png" width="100%" alt="">
      </div>

    </div>

    <div class="faqcenter" style="
      height: 90vh;
      ">
      <div class="logofredy">
        <img src="/assets/images/icon/logofaq.png" width="173" height="100" alt="" class="">
      </div>
      <div class="taco" *ngIf="faq">
        <div class="row">
          <div class="col">

            <div class="tabs">
              <div class="tab">
                <input type="checkbox" class="aco" id="chck1">
                <label class="tab-label" for="chck1">¿Qué es KAI?</label>
                <div class="tab-content">
                  <p>KAI (KAI) by KIO Networks es un asistente virtual que utiliza inteligencia
                    artificial para interactuar a través de un chat (voz y texto) mediante el uso de lenguaje natural y
                    síntesis de voz</p>
                </div>
              </div>

              <div class="tab">
                <input type="checkbox" class="aco" id="chck2">
                <label class="tab-label" for="chck2">¿Cómo son definidos los perfiles de usuario?</label>
                <div class="tab-content">
                  <p>Los perfiles son personalizados de acuerdo a los servicios que tengas habilitados o contratados.
                    Existe un perfil global para todos los usuarios que permiten interacciones básicas con KAI, tales
                    como: </p>
                  <p>
                    Solicitar estado de tickets asignados. Crear ticket.</p>
                  <p>
                    Los perfiles de cada grupo o usuario definen qué operaciones específicas puede realizar KAI.
                    Generalmente estas operaciones son personalizadas de acuerdo al tipo de servicio que tienes
                    contratado.
                  </p>
                  <p>
                    Por seguridad en ocasiones existirán instancias dedicadas de KAI que no todos los usuarios podrán
                    accesar, estas interacciones estarán limitadas a cierta organización, grupo o usuario en
                    específico..
                  </p>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" class="aco" id="chck3">
                <label class="tab-label" for="chck3">¿Cómo puedo saber qué opciones de KAI tengo disponibles?</label>
                <div class="tab-content">
                  <p>Puedes solicitar ayuda a KAI (ver sección Chat) mediante el panel de Chat que se encuentra dentro
                    de la aplicación. También puedes solicitarlo a tu contacto en KIO Networks.</p>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" class="aco" id="chck4">
                <label class="tab-label" for="chck4">Inicio de sesión en KAI</label>
                <div class="tab-content">
                  <p>Puedes iniciar sesión en KAI mediante usuario y password que te haya proporcionado tu contacto en
                    KIO Networks o a través de una cuenta válida de Google. Tu sesión podrá estar o no personalizada de
                    acuerdo a tu perfil
                    o servicios contratados en KIO Networks.
                  </p>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" class="aco" id="chck5">
                <label class="tab-label" for="chck5">Cómo enviar un mensaje a KAI</label>
                <div class="tab-content">
                  <p>Dentro del panel de chat encontrarás un botón llamado Enviar que te permitirá enviar un mensaje a
                    KAI. Si deseas cancelar el envío del mensaje solo borra el contenido del mismo.</p>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" class="aco" id="chck6">
                <label class="tab-label" for="chck6">Problemas enviando o recibiendo mensajes</label>
                <div class="tab-content">
                  <p>La razón más común de porque no puedes enviar o recibir mensajes de KAI a través de la aplicación
                    es por una mala conexión a internet. Si te has asegurado de que tu conexión a internet es estable y
                    tu celular está conectado
                    puedes intentar esto: Verifica con el administrador de la aplicación que tu cuenta esté
                    correctamente habilitada para recibir mensajes de KAI. Pregunta al administrador de la aplicación si
                    tu instancia de KAI está
                    disponible o pregunta por el estado del servicio. Si estas utilizando autenticación por medio de
                    Google valida que tu correo haya sido verificado correctamente. Reinicia tu teléfono o apágalo y
                    enciéndelo nuevamente.</p>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" class="aco" id="chck7">
                <label class="tab-label" for="chck7">Problemas con el micrófono o sonidos de la aplicación</label>
                <div class="tab-content">
                  <p>En algunos casos las interacciones de KAI podrán no emitir sonidos. Si tienes problemas para
                    escuchar sonidos emitidos por KAI, asegúrate de que tu teléfono no se encuentra en modo silencio o
                    que tengas un nivel de
                    volumen adecuado para el ruido en tu entorno. Si tienes problemas para utilizar tu micrófono para
                    interactuar con KAI, asegúrate de que hayas dado permiso a la aplicación para acceder a tu
                    micrófono. Puedes validar
                    tus preferencias en la sección de ajustes de la aplicación.</p>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" class="aco" id="chck8">
                <label class="tab-label" for="chck8">¿Por qué no recibo notificaciones?</label>
                <div class="tab-content">
                  <p>Cuando KAI te envía un mensaje o notificación pero no tienes la aplicación abierta para recibirla,
                    tu iPhone automáticamente mostrará una notificación push para alertarte del mensaje. Las
                    aplicaciones iOS proveen de
                    3 tipos de notificaciones: Sonidos Alertas o Banners Badges
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cel-dere" style="
      height: 90vh;
      ">
      <div class="poimg-im -dere">
        <img src="assets/images/icon/celidere.png" width="100%" alt="">
      </div>
    </div>
  </div>
</div>
<audio id="audioPlayback">
  <source id="audioSource" src="audio" #audio (loadedmetadata)="audioSourceMeta($event,audio)" type="audio/mp3" src="">
</audio>
<!-- Modal -->

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="ModalToken" tabindex="-1" role="dialog" aria-labelledby="ModalTokenTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTokenTitle">Token</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        9023
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalMensaje" tabindex="-1" role="dialog" aria-labelledby="ModalTokenTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalMensajeTitle">Mensajes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Sin Mensajes
      </div>
    </div>
  </div>
</div>
<!-- partial -->
