video {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
}

.voicehuman {
  padding: 20px;
  text-align: center;
  position: relative;

  .audio {
    position: absolute;
    right: 0;
    cursor: pointer;
    bottom: 0;

  }
}

.logofredy {
  text-align: center;
  margin-bottom: 18px;
}

.chat {
  background-color: #000;
  min-height: 90vh;
  padding: 20px;
  overflow-y: scroll;

  @media screen and (min-width: 1440px) {
    padding-top: 194px;
  }

}

.sendsms {
  border: solid 1px #979797;
  background-color: #d8d8d8;
  position: absolute;
  width: 100%;
  bottom: 0;

  input {
    border: none;
    width: 85%;
    padding-left: 10px;
    height: 47px;
    background-color: #d8d8d8;

    :focus {
      border: none;
      box-shadow: none;
    }
  }



}

.poimg {
  position: relative;
}

.poimg-im {
  bottom: 0;
  position: absolute;

  &.-dere {
    right: 0;
  }

}

.mg50 {
  padding-top: 50px;

  background: #fff;
  min-height: 688px;

  .cel-izq {
    width: 19%;
    float: left;
    margin-left: 13px;
    position: relative;
    left: 0;

  }

  .faqcenter {
    width: 59%;
    float: left;
  }

  .cel-dere {
    width: 20%;
    float: left;
    position: relative;

  }
}

.icon-plane {
  background-image: url('/assets/images/icon/send.svg');
  background-repeat: no-repeat;
  width: 10%;
  height: 24px;
  background-position: center;
  height: 30px;
  background-color: transparent;
  border: none;
  margin-left: 2px;
  color: transparent;

  &:focus {
    outline: none;
  }
}

input {
  &:focus {
    outline: none;
  }
}

// FAQ
.faq-nav {

  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);

  .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color .2s ease;

    &:hover {
      background-color: #f6f6f6;
    }

    &.active {
      background-color: #f6f6f6;
      font-weight: 700;
      color: rgba(0, 0, 0, .87);
    }

    &:last-of-type {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom: 0;
    }

    i.mdi {
      margin-right: 5px;
      font-size: 18px;
      position: relative;
    }
  }
}

// TAB CONTENT
.tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);

  .card {
    border-radius: 0;
  }

  .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;

    h5 {
      margin: 0;

      button {
        display: block;
        width: 100%;
        padding: 0;
        border: 0;
        font-weight: 700;
        color: rgba(0, 0, 0, .87);
        text-align: left;
        white-space: normal;

        &:hover,
        &:focus,
        &:active,
        &:hover:active {
          text-decoration: none;
        }
      }
    }
  }

  .card-body {
    p {
      color: #616161;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}


// BORDER FIX
.accordion {
  >.card {
    &:not(:first-child) {
      border-top: 0;
    }
  }
}

.collapse.show {
  .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
  }
}

#message_list {

  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  height: 620px;
  overflow-y: scroll;
  overflow-x: hidden;



  #avatar_chat {
    float: left;
    margin-top: 10px;
    border-radius: 50%;


    img {
      width: 34px;
      height: 34px;
      object-fit: contain;
    }
  }

  #avatar_chat_r {
    float: right;
    margin-top: 10px;
    border-radius: 50%;


    img {
      width: 34px;
      height: 34px;
      object-fit: contain;

      border-radius: 50%;
    }
  }


  .arrow_box-right {
    position: relative;
    background: #d8d8d8;
    border: none;
    border-radius: 7px;
    padding: 16px;
    width: 83%;
    margin-left: 0px;
    margin-bottom: 20px;
    color: #4a4a4a;
    font-size: 13px;
    word-break: break-word;
    min-height: 65px;

  }

  .arrow_box-right:after,
  .arrow_box-right:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box-right:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #d8d8d8;
    border-width: 12px;
    margin-top: -22px;
  }

  .arrow_box-right:before {
    border-color: rgba(0, 0, 0, 0);
    border-left-color: none;
    border-width: 36px;
    margin-top: -36px;
  }

  .arrow_box {
    position: relative;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, #6d35c5, #7a3cdc);
    padding: 16px;
    width: 83%;
    margin-left: 48px;
    margin-bottom: 20px;
    font-size: 13px;
    word-break: break-word;
    min-height: 65px;
    overflow-y: auto;
    max-height: 200px;
  }

  .arrow_box:after,
  .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #7138ce;
    border-width: 12px;
    margin-top: -22px;
  }

  .arrow_box:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: none;
    border-width: 36px;
    margin-top: -36px;
  }



  #message_replies {
    margin-left: 15px;
    width: 200px;
    background: #FFFFFF;
    border: 1px solid #CAD5E0;
    padding: 4px;
    position: relative;
    min-height: 200px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 10px;
      left: 100%;
      width: 0;
      height: 0;
      border-color: transparent transparent transparent #CAD5E0;
      border-style: solid;
      border-width: 10px;
    }
  }

  .butonschat {
    border-radius: 22.5px;
    border: solid 1px #979797;
    background-color: #4a4a4a;
    width: 50%;
    height: 40px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
    float: left;
    line-height: 12px;


  }
}

.videobot {
  text-align: center;
}

.nd {
  padding: 10px;
  background: #783ad8;
  margin-bottom: 10px;
  margin-left: 48px;
  margin-top: -40px;
  width: 83%;
  border-radius: 0px 5px 5px 5px;
}

.mataclicks {
  pointer-events: none !important;
}



.taco>label {
  font-size: 15px;
}

.taco .aco {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.taco .row {
  display: flex;
}

.taco .row .col {
  flex: 1;
}

.taco .row .col:last-child {
  margin-left: 1em;
}

.taco .tabs {
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.taco .tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.taco .tab-label {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  cursor: pointer;
  padding: 15px 16px;
  color: #444;
  border-radius: 0;
  background-color: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.125);
  /* Icon */
}

.taco .tab-label:hover {
  background: #363744;
  color: #fff;

  &::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    color: #fff;
    text-align: center;
    transition: all .35s;
  }
}

.taco .tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  color: #444;
  text-align: center;
  transition: all .35s;
}

.taco .tab-label::after:hover {
  color: #fff;
}

.taco .tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all .35s;
  margin-top: -9px;

  p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
}

.taco .tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  color: #fff;
  cursor: pointer;

}

.taco .tab-close:hover {
  background: #1a252f;
}

.taco input:checked+.tab-label {
  background: #363744;
  color: #fff;
}

.taco input:checked+.tab-label::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.taco input:checked~.tab-content {
  max-height: 100vh;
  padding: 1em;
}
