<div class="splash">


  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo-top">
          <img src="/assets/images/kai_logo_animado.gif" width="350" class="Bg">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <h1 style="text-align: center;">K.A.I.</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <h4 class="p-data">K.A.I. te permite interactuar vía texto o voz con tu asistente
          digital
          inteligente de KIO Managed Services</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h5 class="kai4"><a [routerLink]="'/quienes-somos'">¿Que es K.A.I?</a></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-12 t-center mb30">
        <button type="button" id="login" (click)="onlogin()" class="btn btn-primary bn" data-toggle="modal"
          data-target="#ModalReg">Log In
        </button>
      </div>
      <div class="col-xl-6 col-md-12 t-center mb30">
        <button type="button" id="registro" (click)="onregister()" class="btn btn-secondary bn" data-toggle="modal"
          data-target="#ModalReg">Registro</button>
      </div>
    </div>
    <div class="row">
      <div class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 footer-social">
              <a data-toggle="modal" data-target="#Modale" (click)="checkaviso('termino')" href="javascript:;">Términos
                y
                condiciones
              </a>
              <a data-toggle="modal" data-target="#Modale" (click)="checkaviso('politica')" href="javascript:;">Política
                de
                Privacidad</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Terminos condicions -->


<div class="modal fade" id="Modale" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">
          {{titulotermino}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body nopd">
        <div *ngIf="!contete" class="scrol">
          <div class="col-sm-12">
            <style type="text/css">
              @page {
                margin: 2cm
              }

              h2 {
                margin-left: 0.82cm;
                text-indent: -0.64cm;
                margin-top: 0cm;
                margin-bottom: 0cm;
                direction: ltr;
                line-height: 100%;
                text-align: left;
                orphans: 2;
                widows: 2;
                page-break-after: auto
              }

              h2.western {
                font-family: "Trebuchet MS", serif;
                font-size: 9pt;
                font-style: italic
              }

              h2.cjk {
                font-family: "Trebuchet MS";
                font-size: 9pt;
                font-style: italic
              }

              h2.ctl {
                font-family: "Trebuchet MS";
                font-size: 9pt;
              }

              h1 {
                margin-left: 0.19cm;
                margin-right: 0.21cm;
                margin-top: 0cm;
                margin-bottom: 0cm;
                direction: ltr;
                line-height: 100%;
                text-align: left;
                orphans: 2;
                widows: 2;
                page-break-after: auto
              }

              h1.western {
                font-family: "Times New Roman", serif;
                font-size: 9pt;
              }

              h1.cjk {
                font-family: "Times New Roman";
                font-size: 9pt;
              }

              h1.ctl {
                font-family: "Times New Roman";
                font-size: 9pt;
              }

              p {
                margin-bottom: 0cm;
                direction: ltr;
                line-height: 100%;
                text-align: left;
                orphans: 2;
                widows: 2
              }

              p.western {
                font-family: "Times New Roman", serif;
                font-size: 9pt;
              }

              p.cjk {
                font-family: "Times New Roman";
                font-size: 9pt;
              }

              p.ctl {
                font-family: "Times New Roman";
                font-size: 9pt;
              }

            </style>
            <h1 class="western" lang="es-MX" style="margin-top: 0.12cm">
              <style type="text/css">
                @page {
                  margin: 2cm
                }

                h2 {
                  margin-left: 0.82cm;
                  text-indent: -0.64cm;
                  margin-top: 0cm;
                  margin-bottom: 0cm;
                  direction: ltr;
                  line-height: 100%;
                  text-align: left;
                  orphans: 2;
                  widows: 2;
                  page-break-after: auto
                }

                h2.western {
                  font-family: "Trebuchet MS", serif;
                  font-size: 9pt;
                  font-style: italic
                }

                h2.cjk {
                  font-family: "Trebuchet MS";
                  font-size: 9pt;
                  font-style: italic
                }

                h2.ctl {
                  font-family: "Trebuchet MS";
                  font-size: 9pt;
                }

                h1 {
                  margin-left: 0.19cm;
                  margin-right: 0.21cm;
                  margin-top: 0cm;
                  margin-bottom: 0cm;
                  direction: ltr;
                  line-height: 100%;
                  text-align: left;
                  orphans: 2;
                  widows: 2;
                  page-break-after: auto
                }

                h1.western {
                  font-family: "Times New Roman", serif;
                  font-size: 9pt;
                }

                h1.cjk {
                  font-family: "Times New Roman";
                  font-size: 9pt;
                }

                h1.ctl {
                  font-family: "Times New Roman";
                  font-size: 9pt;
                }

                p {
                  margin-bottom: 0cm;
                  direction: ltr;
                  line-height: 100%;
                  text-align: left;
                  orphans: 2;
                  widows: 2
                }

                p.western {
                  font-family: "Times New Roman", serif;
                  font-size: 9pt;
                }

                p.cjk {
                  font-family: "Times New Roman";
                  font-size: 9pt;
                }

                p.ctl {
                  font-family: "Times New Roman";
                  font-size: 9pt;

                }

              </style>
            </h1>





            <h5><a href="https://kai.kioapps.com/avisoprivacidadpdf">Descargar en PDF</a></h5>

            <h1 class="western" lang="es-MX" style="margin-top: 0.12cm"><span style="color:#333;">
                <font face="FreeSans, sans-serif">AVISO DE PRIVACIDAD relacionado con los datos personales
                  tratados por HIKU<span style="letter-spacing: -0.2pt">DOCUMENT SERVICES,</span>S.A.P.I. DE
                  C.V., INTERPLANET, <span style="letter-spacing: 0.9pt">S.A. DE </span><span
                    style="letter-spacing: -0.2pt">C.V., MASNEGOCIO.COM, </span><span
                    style="letter-spacing: 0.9pt">S.API </span><span style="letter-spacing: 0.6pt">DE
                  </span><span style="letter-spacing: -0.2pt">C.V., </span><span style="letter-spacing: 0.9pt">OPERADORA
                  </span><span style="letter-spacing: 0.4pt">METRONET </span><span style="letter-spacing: -0.2pt">S.
                  </span><span style="letter-spacing: 0.9pt">DE </span><span style="letter-spacing: 0.7pt">R.L.
                  </span><span style="letter-spacing: 0.9pt">DE
                  </span><span style="letter-spacing: -0.2pt">C.V., </span><span
                    style="letter-spacing: 0.7pt">METRO</span><span style="letter-spacing: 0.9pt">NET
                  </span>
                  <font size="2" style="font-size: 9pt"><b>S.A.P.I. DE </b></font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>C.V.,
                      </b></span></font>
                  <font size="2" style="font-size: 9pt"><b>METRO NET HOSTING, </b></font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>S. </b></span>
                  </font>
                  <font size="2" style="font-size: 9pt"><b>DE R.L. </b></font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>DE </b></span>
                  </font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>C.V.,
                      </b></span></font>
                  <font size="2" style="font-size: 9pt"><b>SIXSIGMA </b></font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>NETWORKS
                      </b></span></font>
                  <font size="2" style="font-size: 9pt"><b>MÉXICO S.A. DE C.V., INTERNET NETWORKS,</b>
                  </font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>S.A.
                      </b></span></font>
                  <font size="2" style="font-size: 9pt"><b>DE C.V., FUNDACIÓN KIO, A.C., </b></font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>SM4RT SECURITY
                      </b></span></font>
                  <font size="2" style="font-size: 9pt"><b>SERVICES, S.A. DE C.V. y/o WINGU</b></font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>NETWORKS,
                      </b></span></font>
                  <font size="2" style="font-size: 9pt"><span style="letter-spacing: 2.0pt"><b>S.A.DE</b></span></font>
                  <font size="2" style="font-size: 9pt"><b>C.V. (en adelante denominadas en conjunto o
                      individualmente como “KIO”)</b></font>
                  <font size="2" style="font-size: 9pt">quienes se comprometen a respetar lo establecido en su
                    Aviso de Privacidad y en la Ley Federal de Protección de Datos Personales en
                    Posesión de los Particulares y su respectivo Reglamento.</font>
                </font>
              </span></h1>

            <p class="western" lang="es-MX" style="margin-top: 0.01cm">&nbsp;</p>

            <ol>
              <li>
                <h2 align="left" class="western" lang="es-MX" style="text-indent: 0cm; line-height: 100%"><span
                    style="color:#333;">
                    <font face="FreeSans, sans-serif"><i>Identidad y domicilio del responsable que trata los
                        datos personales</i></font>
                  </span></h2>
              </li>
            </ol>

            <p class="western" lang="es-MX" style="margin-left: 0.19cm; margin-right: 0.21cm; margin-top: 0.01cm">
              <span style="color:#333;">
                <font face="FreeSans, sans-serif">Los responsables enumerados en el apartado anterior, a los
                  fines del presente Aviso de Privacidad, tienen su domicilio para oír y recibir toda
                  clase de notificaciones o avisos relacionados con el presente Aviso de Privacidad, el
                  ubicado en:</font>
              </span></p>

            <p class="western" lang="es-MX" style="margin-top: 0cm">&nbsp;</p>

            <p align="justify" class="western" lang="es-MX" style="margin-left: 0.69cm; margin-right: 0.21cm"><span
                style="color:#333;">
                <font face="FreeSans, sans-serif">
                  <font size="2" style="font-size: 11pt">
                    <font size="2" style="font-size: 9pt"><b>Sixsigma </b></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>Networks
                        </b></span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt"><b>México, </b></span>
                    </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>S.A.
                        </b></span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>de
                        </b></span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt"><b>C.V.
                        </b></span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>y
                        </b></span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.6pt"><b>Fundación KIO,
                        </b></span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>A.C.:
                        </b></span></font>
                    <font size="2" style="font-size: 9pt"><b>Prolongación </b></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">Paseo </span>
                    </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.6pt">de la </span>
                    </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">Reforma No.
                      </span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">5287,
                        Cuajimalpa, </span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">CP. </span>
                    </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">05000,
                      </span></font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">Ciudad de
                        México.</span></font>
                  </font>
                </font>
              </span></p>

            <p align="justify" class="western" lang="es-MX"
              style="margin-left: 0.69cm; margin-right: 0.2cm; line-height: 101%"><span style="color:#333;">
                <font size="2" style="font-size: 11pt">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><b>Interplanet, S.A. de C.V., Wingu Networks, S.A.
                        de C.V. e Internet Networks, S.A. de C.V.: </b></font>
                  </font>
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt">Boulevard Magnocentro No. 6,Centro Urbano
                      Interlomas, Huixquilucan C.P. 52787 Estado de México.</font>
                  </font>
                </font>
              </span></p>

            <p align="justify" class="western" lang="es-MX"
              style="margin-left: 0.69cm; margin-right: 0.21cm; line-height: 100%"><span style="color:#333;">
                <font size="2" style="font-size: 11pt">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><b>MasNegocio.com, S.A.P.I. de C.V.:</b></font>
                  </font>
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt">Avenida de los Insurgentes Sur No. 2375 Piso 4,
                      Col. Tizapán, Álvaro Obregón, C.P. 01090, Ciudad de
                      México.</font>
                  </font>
                </font>
              </span></p>

            <p align="justify" class="western" lang="es-MX" style="margin-left: 0.69cm; margin-right: 0.2cm"><span
                style="color:#333;">
                <font face="FreeSans, sans-serif">
                  <font size="2" style="font-size: 11pt">
                    <font size="2" style="font-size: 9pt"><b>Operadora MetroNet S. de R.L. de C.V., MetroNet
                        S.A.P.I. de C.V. y MetroNet Hosting, S. de R.L.<span style="background-color:#000000;">
                        </span>de C.V.: </b></font>
                    <font size="2" style="font-size: 9pt">Prolongación Paseo de la Reforma No. 5287,
                      Cuajimalpa, CP. 05000, Ciudad de México.</font>
                  </font>
                </font>
              </span></p>

            <p align="justify" class="western" lang="es-MX" style="margin-left: 0.69cm; margin-right: 0.22cm"><span
                style="color:#333;">
                <font face="FreeSans, sans-serif">
                  <font size="2" style="font-size: 11pt">
                    <font size="2" style="font-size: 9pt"><b>Sm4rt Security Services, S.A. de C.V.:</b>
                    </font>
                    <font size="2" style="font-size: 9pt">Paseo de los Tamarindos No 400ª Torre Arcos
                      piso 5, Col. Bosques de las Lomas, Del. Cuajimalpa de Morelos, C.P. 05120, Ciudad de
                      México.</font>
                  </font>
                </font>
              </span></p>

            <p align="justify" class="western" lang="es-MX" style="margin-left: 0.69cm; margin-right: 0.2cm"><span
                style="color:#333;">
                <font size="2" style="font-size: 11pt">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><b>Hiku Document Services, S.A.P.I. de C.V.: </b>
                    </font>
                  </font>
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt">Paseo de las Palmas No. 751 Interior 302, Col.
                      Lomas de Barrilaco, Miguel Hidalgo, C.P. 11000 Ciudad de México.</font>
                  </font>
                </font>
              </span></p>

            <p class="western" lang="es-MX" style="margin-top: 0cm">&nbsp;</p>

            <ol start="2">
              <li>
                <h2 align="left" class="western" lang="es-MX"
                  style="text-indent: 0cm; margin-top: 0cm; line-height: 100%"><span style="color:#333;">
                    <font face="FreeSans, sans-serif"><i>Finalidad del tratamiento de los datos
                        personales</i></font>
                  </span></h2>
                <span style="color:#333;">2.1&nbsp;<font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 11pt">
                      <font size="2" style="font-size: 9pt"><b>KIO</b></font>
                      <font size="2" style="font-size: 9pt">, por sí mismo o a través
                      </font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                        </span></font>
                      <font size="2" style="font-size: 9pt">su Encargado, tratará los datos
                        personales </font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                        </span></font>
                      <font size="2" style="font-size: 9pt">las Finalidades Primarias que sean necesarias
                        para&nbsp; &nbsp; &nbsp; &nbsp; que </font>
                      <font size="2" style="font-size: 9pt"><b>KIO </b></font>
                      <font size="2" style="font-size: 9pt">esté en posibilidad </font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                        </span></font>
                      <font size="2" style="font-size: 9pt">cumplir sus obligaciones legales o
                        contractuales en su relación </font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                        </span></font>
                      <font size="2" style="font-size: 9pt">el Titular; y en particular,
                        podrá&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; tratar los datos personales del
                      </font>
                      <font size="2" style="font-size: 9pt"><b>TITULAR-Visitante </b></font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>al
                          </b></span></font>
                      <font size="2" style="font-size: 9pt"><b>domicilio físico </b></font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>de
                          </b></span></font>
                      <font size="2" style="font-size: 9pt"><b>KIO</b></font>
                      <font size="2" style="font-size: 9pt">,</font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">según </span></font>
                      <font size="2" style="font-size: 9pt">aplique </font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                        </span></font>
                      <font size="2" style="font-size: 9pt">conformidad&nbsp;</font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con&nbsp;</span></font>
                      <font size="2" style="font-size: 9pt">el tipo&nbsp;de&nbsp;relación&nbsp;que
                      </font>
                      <font size="2" style="font-size: 9pt">tiene </font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                        </span></font>
                      <font size="2" style="font-size: 9pt">él, para las siguientes </font>
                      <font size="2" style="font-size: 9pt"><b>Finalidades </b></font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.6pt"><b>Primarias</b></span>
                      </font>
                      <font size="2" style="font-size: 9pt">:</font>
                    </font>
                  </font></span>
              </li>
            </ol>

            <p class="western" lang="es-MX" style="margin-top: 0cm; margin-left: 40px;"><span style="color:#333;">
                <font face="FreeSans, sans-serif">2.1.1 TITULAR-Visitante al domicilio físico de KIO:
                </font>
              </span></p>

            <p align="justify" class="western" lang="es-MX"
              style="margin-left: 2.07cm; margin-right: 0.2cm; text-indent: -0.64cm; margin-top: 0.02cm"><span
                style="color:#333;">
                <font face="FreeSans, sans-serif">a) Almacenar en diferentes bases <span
                    style="letter-spacing: -0.2pt">de </span>datos <span style="letter-spacing: -0.2pt">en
                  </span>formato <span style="letter-spacing: -0.2pt">físico y/o
                  </span>electrónico, los datos e imagen de los visitantes al domicilio <span
                    style="letter-spacing: 0.3pt">de </span><b>KIO</b>, <span style="letter-spacing: -0.2pt">con
                  </span>la finalidad de otorgar los gafetes para
                  acceso y mantener el control de las entradas y salidas de quienes visitan sus instalaciones,
                  así como de los Data Centers, lo que <span style="letter-spacing: -0.2pt">forma
                  </span>parte <span style="letter-spacing: -0.2pt">de </span>las medidas <span
                    style="letter-spacing: -0.2pt">de </span>seguridad y protección adoptadas al
                  interior <span style="letter-spacing: -0.2pt">de </span>la organización. Las
                  imágenes almacenadas a través <span style="letter-spacing: -0.2pt">de
                  </span>los sistemas <span style="letter-spacing: -0.2pt">de </span>video vigilancia
                  serán conservadas por un período <span style="letter-spacing: -0.2pt">de
                  </span><b>90 - noventa días </b>a partir de la fecha <span style="letter-spacing: -0.4pt">de su
                    captura. </span><span style="letter-spacing: -0.2pt">Los </span><span
                    style="letter-spacing: -0.4pt">demás datos </span><span style="letter-spacing: -0.6pt">solicitados
                  </span><span style="letter-spacing: -0.4pt">a
                  </span><span style="letter-spacing: -0.6pt">los </span><span style="letter-spacing: -0.4pt">visitantes
                    se podrán </span><span style="letter-spacing: -0.4pt">conservar </span><span
                    style="letter-spacing: -0.6pt">por
                  </span><span style="letter-spacing: -0.4pt">un </span><span style="letter-spacing: -0.7pt">periodo
                  </span><span style="letter-spacing: -0.6pt">de
                  </span><span style="letter-spacing: -0.4pt">hasta </span><span style="letter-spacing: -0.1pt"><b>1 -
                      un </b></span><span style="letter-spacing: -0.7pt"><b>año </b></span><span
                    style="letter-spacing: -0.7pt"><b>desde </b></span><span style="letter-spacing: -0.2pt">el
                  </span><span style="letter-spacing: -0.3pt">momento en
                    que fueron </span><span style="letter-spacing: -0.2pt">obtenidos.</span></font>
              </span></p>

            <p class="western" lang="es-MX">&nbsp;</p>

            <p style="margin-left: 40px;"><span style="color:#333;">&#8203;2.2&nbsp;<font face="FreeSans, sans-serif">
                  <font size="2" style="font-size: 11pt">
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">Los </span>
                    </font>
                    <font size="2" style="font-size: 9pt">datos personales del </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">TITULAR
                      </span></font>
                    <font size="2" style="font-size: 9pt">podrán ser utilizados </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">para </span>
                    </font>
                    <font size="2" style="font-size: 9pt">las siguientes </font>
                    <font size="2" style="font-size: 9pt"><b>Finalidades Secundarias</b></font>
                    <font size="2" style="font-size: 9pt">, según aplique al caso de la
                      relación que vincule </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">al </span>
                    </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">TITULAR
                      </span></font>
                    <font size="2" style="font-size: 9pt">con </font>
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: 1.0pt"><b>KIO</b></span></font>
                    <font size="2" style="font-size: 9pt">:</font>
                  </font>
                </font></span></p>

            <p class="western" lang="es-MX" style="margin-top: 0.02cm">&nbsp;</p>

            <ol style="margin-left: 40px;" type="a">
              <li align="left" lang="es-MX" style="margin-top: 0cm; line-height: 0.37cm;"><span style="color:#333;">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 11pt">
                      <font size="2" style="font-size: 9pt">Generar información para la
                        página de Internet </font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                        </span></font>
                      <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><b>KIO</b></span>
                      </font>
                      <font size="2" style="font-size: 9pt">.</font>
                    </font>
                  </font>
                </span></li>
              <li>
                <p align="left" lang="es-MX" style="margin-right: 0.2cm; line-height: 101%"><span style="color:#333;">
                    <font face="FreeSans, sans-serif">
                      <font size="2" style="font-size: 11pt">
                        <font size="2" style="font-size: 9pt">Para </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">enviar </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.1pt">boletines </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">o
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">comunicaciones
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.1pt">periódicas </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">directamente </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">o a
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">través </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">de
                            encargados, </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">sobre
                            temas </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">actualidad </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">vinculados </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: 0.1pt">los
                            productos </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">y/o
                          </span></font>
                        <font size="2" style="font-size: 9pt">servicios ofrecidos por </font>
                        <font size="2" style="font-size: 9pt"><b>KIO</b></font>
                        <font size="2" style="font-size: 9pt">, u otras finalidades de mercadotecnia o
                          prospección </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">comercial.</span>
                        </font>
                      </font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" lang="es-MX" style="line-height: 0.36cm"><span style="color:#333;">
                    <font face="FreeSans, sans-serif">
                      <font size="2" style="font-size: 11pt">
                        <font size="2" style="font-size: 9pt">Evaluar la opinión de los titulares
                          y la calidad de los productos </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">y/o
                          </span></font>
                        <font size="2" style="font-size: 9pt">servicios ofrecidos por </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.7pt"><b>KIO</b></span>
                        </font>
                        <font size="2" style="font-size: 9pt">.</font>
                      </font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" lang="es-MX" style="margin-right: 0.2cm; line-height: 100%"><span style="color:#333;">
                    <font face="FreeSans, sans-serif">
                      <font size="2" style="font-size: 11pt">
                        <font size="2" style="font-size: 9pt">Para </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">el
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">envío </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.6pt">de
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">correos </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">electrónicos </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">información </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">de
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.5pt">eventos </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">organizados </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">por,
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">o
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.6pt">relacionados </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: 0.1pt"><b>KIO
                            </b></span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt"><b>y/o </b></span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.6pt">terceros;</span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.7pt">(ii)</span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.5pt">Para
                          </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.6pt">realizar informes de
                            estudios
                            estadísticos e informes </span></font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">demográficos </span>
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                          </span></font>
                        <font size="2" style="font-size: 9pt">datos disasociados </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                          </span></font>
                        <font size="2" style="font-size: 9pt">sus </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">TITULARES.</span>
                        </font>
                      </font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" lang="es-MX" style="margin-right: 0.2cm; line-height: 100%"><span style="color:#333;">
                    <font face="FreeSans, sans-serif">
                      <font size="2" style="font-size: 11pt">
                        <font size="2" style="font-size: 9pt">Para el envío de comunicaciones
                          relativas a servicios, </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">ofertas </span>
                        </font>
                        <font size="2" style="font-size: 9pt">de empleo, promociones, información
                        </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                          </span></font>
                        <font size="2" style="font-size: 9pt">patrocinadores de eventos, actualizaciones
                          de </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">seguridad.</span>
                        </font>
                      </font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" lang="es-MX" style="line-height: 0.36cm"><span style="color:#333;">
                    <font face="FreeSans, sans-serif">
                      <font size="2" style="font-size: 11pt">
                        <font size="2" style="font-size: 9pt">Enviar información sobre los
                          servicios de soporte técnico y administrativo brindados por </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.7pt"><b>KIO</b></span>
                        </font>
                        <font size="2" style="font-size: 9pt">.</font>
                      </font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" lang="es-MX" style="margin-right: 0.22cm; line-height: 101%"><span style="color:#333;">
                    <font face="FreeSans, sans-serif">
                      <font size="2" style="font-size: 11pt">
                        <font size="2" style="font-size: 9pt">Otras que no sean imprescindibles para que
                        </font>
                        <font size="2" style="font-size: 9pt"><b>KIO </b></font>
                        <font size="2" style="font-size: 9pt">esté en posibilidad de cumplir sus
                          obligaciones legales o contractuales en su relación </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">con
                          </span></font>
                        <font size="2" style="font-size: 9pt">el </font>
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">TITULAR.</span>
                        </font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" lang="es-MX" style="margin-top: 0.01cm">&nbsp;</p>

            <p align="justify" class="western" lang="es-MX" style="margin-left: 0.82cm; margin-right: 0.2cm"><span
                style="color:#333;">
                <font face="FreeSans, sans-serif">En caso de que el TITULAR no desee que </font>
                <font face="FreeSans, sans-serif"><b>KIO </b></font>
                <font face="FreeSans, sans-serif">utilice sus datos personales para las Finalidades Secundarias
                  que se establecen en el inciso anterior, el TITULAR tiene un plazo de cinco días
                  hábiles para que, de ser el caso, manifieste su negativa para el tratamiento de sus
                  datos personales con respecto a las finalidades que no son necesarias, ni dieron origen a la
                  relación jurídica con </font>
                <font face="FreeSans, sans-serif"><b>KIO</b></font>
                <font face="FreeSans, sans-serif">. Para tal efecto, </font>
                <font face="FreeSans, sans-serif"><b>KIO </b></font>
                <font face="FreeSans, sans-serif">pone a su disposición un correo electrónico al
                  que deberá enviar su solicitud de baja de tratamiento de datos personales, el cual se
                  proporciona a continuación: </font>
              </span><a href="mailto:protecciondedatos@kionetworks.com"><span style="color:#333;">
                  <font face="FreeSans, sans-serif"><u>protecciondedatos@kionetworks.com</u></font>
                </span></a></p>

            <ol start="3">
              <li>
                <p align="justify" lang="es-MX" style="margin-right: 0.2cm; margin-top: 0.17cm; line-height: 100%">
                  <font size="2" style="font-size: 11pt"><span style="color:#333;">
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">El </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">TITULAR </span>
                        </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">podrá acceder </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">al
                            Aviso </span></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">de Privacidad </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">Integral </span>
                        </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">de </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><b>KIO </b></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">cuyo nombre </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                          </span></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">dominio es: </font>
                      </font>
                    </span><a href="http://www.kionetworks.com/"><span style="color:#333;">
                        <font face="FreeSans, sans-serif">
                          <font size="2" style="font-size: 9pt"><u>www.kionetworks.com</u></font>
                        </font>
                      </span></a>
                    <font face="FreeSans, sans-serif">
                      <font size="2" style="font-size: 9pt"><a href="http://www.kionetworks.com/"><span
                            style="color:#333;">,</span></a><span style="color:#333;">
                          denominada </span></font>
                    </font><span style="color:#333;">
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">como
                          </span></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">“LA PÁGINA DE </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">INTERNET </span>
                        </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">DE </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><b>KIO</b></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">”</font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><b>. </b></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">Según sea </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">el
                          </span></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">caso, también aplica a los sitios o
                          páginas de Internet operados en particular por </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">cada
                          </span></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">una </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">de
                          </span></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt">las razones sociales o unidades de negocio
                          de </font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.2pt">KIO,
                          </span></font>
                      </font>
                      <font face="FreeSans, sans-serif">
                        <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">incluyendo:</span>
                        </font>
                      </font>
                    </span>
                  </font>
                </p>
              </li>
            </ol>

            <p align="justify" lang="es-MX" style="margin-top: 0.17cm; line-height: 100%; margin-left: 80px;"><span
                style="color:#333;">
                <font size="2" style="font-size: 11pt">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">Masnegocio.com, S.A.P.I.
                        de C.V.: <a href="https://masnegocio.com/aviso-de-privacidad">www.masnegocio.com</a> y
                        <a href="https://www.nubbita.com/blog/index.php/aviso-de-privacidad/">www.nubbita.com</a></span>
                    </font><a href="https://www.nubbita.com/blog/index.php/aviso-de-privacidad/"> </a>
                  </font><a href="https://www.nubbita.com/blog/index.php/aviso-de-privacidad/"> </a>
                </font><a href="https://www.nubbita.com/blog/index.php/aviso-de-privacidad/"> </a>
              </span></p>

            <p align="justify" lang="es-MX" style="margin-top: 0.17cm; line-height: 100%; margin-left: 80px;"><span
                style="color:#333;">
                <font size="2" style="font-size: 11pt">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">Fundación KIO, A.C.: <a
                          href="https://fundacionkio.org.mx/foundation/aviso-de-privacidad/">www.fundacionkio.org.mx</a></span>
                    </font><a href="https://fundacionkio.org.mx/foundation/aviso-de-privacidad/"> </a>
                  </font><a href="https://fundacionkio.org.mx/foundation/aviso-de-privacidad/"> </a>
                </font><a href="https://fundacionkio.org.mx/foundation/aviso-de-privacidad/"> </a>
              </span></p>

            <p align="justify" lang="es-MX" style="margin-top: 0.17cm; line-height: 100%; margin-left: 80px;"><span
                style="color:#333;">
                <font size="2" style="font-size: 11pt">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">Sm4rt
                        Security Services, S.A. de C.V.: <a
                          href="https://kiocyber.com/aviso-de-privacidad/">www.sm4rt.com</a></span>
                    </font><a href="https://kiocyber.com/aviso-de-privacidad/"> </a>
                  </font><a href="https://kiocyber.com/aviso-de-privacidad/"> </a>
                </font><a href="https://kiocyber.com/aviso-de-privacidad/"> </a>
              </span></p>

            <p align="justify" lang="es-MX" style="margin-top: 0.17cm; line-height: 100%; margin-left: 80px;"><span
                style="color:#333;">
                <font size="2" style="font-size: 11pt">
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">W</span>
                    </font>
                  </font>
                  <font face="FreeSans, sans-serif">
                    <font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.3pt">ingu
                        Networks, S.A. de C.V.: <a
                          href="https://www.wingunetworks.com/aviso-de-privacidad.php">www.wingunetworks.com</a>,
                        <a
                          href="https://www.suempresa.com/centro-de-ayuda/acerca-de-nosotros/aviso-de-privacidad/">www.suempresa.com</a>,
                        <a href="https://xpresshosting.com/politicas-de-privacidad.php">www.xpresshosting.com</a></span>
                    </font><a href="https://xpresshosting.com/politicas-de-privacidad.php"> </a>
                  </font><a href="https://xpresshosting.com/politicas-de-privacidad.php"> </a>
                </font><a href="https://xpresshosting.com/politicas-de-privacidad.php"> </a>
              </span></p>
          </div>


        </div>
        <div *ngIf="contete" class="scrol">

          <div class="col-12">


            <h5><a href="https://kai.kioapps.com/terminosycondicionespdf">Descargar en PDF</a></h5>



            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%; text-align: center;"><span
                style="color:#333;">
                <font face="Arial, serif"><span lang="es-MX"><b>TERMINOS Y CONDICIONES</b></span></font>
              </span></p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%; text-align: center;"><span
                style="color:#333;">
                <font face="Arial, serif"><span lang="es-MX"><b>KAI</b></span></font>
              </span></p>

            <p align="center" class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>Favor de leer cuidadosamente
                        los presentes Términos y Condiciones. En caso de no estar de acuerdo con
                        los mismos, así como con la Política de Privacidad (</b></span>
                  </font>
                </font>
              </span><u><a href="https://kai.kioapps.com/avisoprivacidad"><span style="color:#333;">
                    <font face="Helvetica Neue, serif">
                      <font size="2" style="font-size: 10pt"><span
                          lang="es-ES-u-co-trad">https://kai.kioapps.com/avisoprivacidad</span></font>
                    </font>
                  </span></a></u><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-ES-u-co-trad"><b>) </b></span></font>
                </font>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>deberás abstenerte de
                        hacer uso de la aplicación de KIO llamada “KAI”.</b></span>
                  </font>
                </font>
              </span></p>

            <p align="center" class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>GENERALES</b></span></font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Bienvenido a KAI, la
                      aplicación para uso web (https://kai.kioapps.com</span></font>
                </font> <u>
                  <font face="Arial, serif">
                    <font size="2" style="font-size: 10pt"><span lang="es-MX">)</span></font>
                  </font>
                </u>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"> y para uso en dispositivos
                      móviles operada y controlada por SixSigma Networks México, S.A. de
                      C.V. y/o sus sociedades afiliadas, filiales y subsidiarias (conjuntamente
                      serán referidos en lo sucesivo como “</span></font>
                </font>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"><u><b>KIO Networks</b></u></span>
                  </font>
                </font>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">”).</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">KAI es una herramienta
                      tecnológica desarrollada por y propiedad de KIO Networks que permitirá
                      a los clientes estratégicos y a aquellos clientes que KIO Networks designe de
                      tiempo en tiempo (en adelante, los “</span></font>
                </font>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"><u><b>Usuarios</b></u></span>
                  </font>
                </font>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">”) hacer uso de un
                      “asistente virtual” para monitorear en cualquier momento desde un
                      dispositivo móvil o computadora ciertos servicios prestados por KIO Networks,
                      incluyendo el estado de los equipos que se encuentran colocados (</span></font>
                </font>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"><i>hosting</i></span></font>
                </font>
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">) en cualquiera de nuestros
                      centros de datos.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Los Usuarios que accedan, usen,
                      descarguen y/o se suscriban a KAI desde ahora aceptan y de obligan a cumplir con los
                      términos y condiciones que aquí se establecen, así como con las
                      políticas de seguridad y confidencialidad de KIO disponibles en </span>
                  </font>
                </font>
              </span><u><a href="https://kionetworks.com/pubs/AVISO_DE_PRIVACIDAD.pdf"><span style="color:#333;">
                    <font face="Arial, serif">
                      <font size="2" style="font-size: 10pt"><span
                          lang="es-MX">https://kionetworks.com/pubs/AVISO_DE_PRIVACIDAD.pdf</span>
                      </font>
                    </font>
                  </span></a></u><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"> y desde ahora aceptan nuestro
                      Aviso de Privacidad disponible en </span></font>
                </font>
              </span><u><a href="https://kai.kioapps.com/avisoprivacidad"><span style="color:#333;">
                    <font face="Arial, serif">
                      <font size="2" style="font-size: 10pt"><span
                          lang="es-MX">https://kai.kioapps.com/avisoprivacidad</span></font>
                    </font>
                  </span></a></u><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Mediante la aceptación de
                      estos términos y condiciones, usted como Usuario declara y garantiza que
                      cuenta con las facultades suficientes para aceptar estos términos en nombre
                      propio y en nombre de la empresa o sociedad que representa, en relación con
                      su uso y acceso. </span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Asimismo, usted como Usuario esta
                      consiente y acepta desde ahora de que la herramienta KAI y los servicios que presta
                      KIO Networks en relación con la misma podrán sufrir, en cualquier
                      momento y sin necesidad de previo aviso, diversas modificaciones y actualizaciones
                      automáticas, ya sea dentro del software o su desempeño, opciones o del
                      contenido o imagen de la herramienta, incluyendo su cancelación definitiva,
                      así como las modificaciones a estos términos y condiciones. KIO
                      Networks se reserva el derecho de negar, restringir o condicionar a cualquier
                      Usuario y en cualquier momento, sin necesidad de aviso previo, el uso y/o acceso a
                      KAI, total o parcialmente, a su entera discreción.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">El Usuario reconoce que los
                      servicios ofrecidos a través de la herramienta KAI podrán no estar
                      disponibles en algunas zonas geográficas y, en algunos casos, podrán
                      ser utilizados con posterioridad a la inscripción o registro previo del
                      Usuario. </span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Por el momento, la herramienta KAI
                      se ofrece a los Usuarios sin costo alguno; no obstante, KIO Networks se reserva el
                      derecho de cobrar parte o la totalidad de los servicios que se ofrecen a
                      través de KAI, en cuyo caso, los Usuarios serán notificados del costo
                      y del procedimiento de pago, en el entendido que, de no estar de acuerdo en realizar
                      el pago correspondiente, KIO Networks podrán cancelar el acceso de dicho
                      Usuario a KAI. Asimismo, KIO Networks se reserva el derecho de cobrar a ciertos
                      Usuarios el servicio que se ofrece a través de KAI y a otros Usuarios
                      exentarlos de realizar dicho pago, según los criterios que al efecto
                      establezca KIO Networks.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">KIO Networks no otorga a los
                      Usuarios garantía o promesa alguna específica sobre el
                      desempeño o características de la herramienta de KAI, ni asume
                      compromiso alguno en relación con las funciones específicas de la
                      herramienta KAI, ni la confiabilidad, disponibilidad o capacidad para satisfacer las
                      necesidades de los Usuarios. KAI se ofrece “tal como está”. KIO
                      Networks no es ni será responsable por pérdida de ganancias, de datos
                      o financieras, lucro cesante, ni por daños indirectos, especiales,
                      emergentes, punitivos o ejemplares que se deriven del uso de la herramienta KAI por
                      parte de los Usuarios, ni por el mal uso que los Usuarios llegaren a darle a la
                      herramienta KAI, así como por la falta de disponibilidad o continuidad de la
                      operación de la herramienta KAI y/o de los servicios que se prestan a
                      través de la misma.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Por lo anterior, es importante que
                      los Usuarios por favor lean cuidadosamente los siguientes términos y
                      condiciones.</span> </font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol start="2" type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>REGISTRO Y CUENTA
                              DE USUARIO</b></span></font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Al descargar la aplicación
                      de KAI, los Usuarios deberá registrarse ingresando un nombre de usuario y una
                      contraseña, o bien podrán ingresar a través de una cuenta de
                      Google®. </span></font>
                </font>
                <font face="Helvetica, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Específicamente los Datos
                      solicitados son (i) nombre; (ii) nombre de empresa que representa; (iii) cuenta de
                      correo electrónico; y (iv) contraseña.</span></font>
                </font>
              </span></p>

            <p align="left" class="western" style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">El Usuario deberá
                      resguardar y mantener confidencial el nombre de usuario y contraseña asignada
                      a la cuenta de Usuario, y no deberán permitir el uso de KAI por una distinta
                      del Usuario. KIO Networks no será responsable de cualquier pérdida,
                      daño, responsabilidad, gastos u honorarios en que pudiera incurrir el cliente
                      o, en su caso, el Usuario como resultado del uso que haga una persona distinta de la
                      cuenta de Usuario, sea con su conocimiento o no.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Asimismo, KIO Networks no
                      será responsable bajo ninguna circunstancia por: (i) cualesquiera acciones u
                      omisiones por parte del cliente o, en su caso, el Usuario en relación con el
                      uso que haga de KAI; y (ii) del uso que se haga del nombre y contraseña de la
                      cuenta del Usuario.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">A la terminación de la
                      relación comercial entre un cliente o un Usuario, por una parte, y KIO
                      Networks, por la otra, por cualquier causa o razón, la cuenta del Usuario se
                      cancelará inmediatamente, sin necesidad de notificación o aviso al
                      cliente, al Usuario o al cliente.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Los clientes que cuenten con una
                      cuenta de Usuario para KAI reconocen y aceptan que designarán a una persona
                      que fungirá como su representante y responsable directo de la
                      administración de la cuenta en la herramienta KAI. El cliente y el Usuario
                      reconocen y aceptan desde ahora que serán los únicos responsables de
                      las acciones, omisiones y, en general, las decisiones o acciones que se tomen a
                      raíz de la información proporcionada a través de la misma,
                      liberando desde ahora a KIO Networks de cualquier responsabilidad por dicha causa.
                    </span> </font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">En caso de que la persona que
                      funge como administrador de la cuenta de un cliente dejara de prestar servicios al
                      cliente, entonces dicho cliente deberá dar aviso inmediatamente a KIO
                      Networks (a la dirección de correo que se indica más adelante en la
                      sección Servicio al Cliente o Usuario), a fin de que se reasigne una nueva
                      cuenta y contraseña al cliente y deje de tener efectos la anterior.</span>
                  </font>
                </font>
              </span></p>

            <p class="western" style="margin-left: 0.64cm; margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol start="3" type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>FUNCIONES DE
                              KAI.</b></span> </font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;"><span style="color:#333;">
                <font face="Helvetica, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Una vez creada la cuenta de
                      Usuario se mostrará en la pantalla del dispositivo correspondiente un breve
                      tutorial para el uso de KAI, y se requerirán ciertas configuraciones
                      iniciales en el dispositivo, tales como, sin limitar, la confirmación sobre
                      si desea permitir recibir notificaciones y confirmación sobre el acceso al
                      micrófono de su dispositivo. Si el micrófono no está disponible
                      en su dispositivo, no será posible hacer uso de ciertas funciones de
                      KAI.</span></font>
                </font>
              </span></p>

            <p align="left" class="western" style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;"><span style="color:#333;">
                <font face="Helvetica, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Posteriormente, en la pantalla se
                      desplegará un chat y se visualizará el historial de las conversaciones
                      que el Usuario ha tenido con KAI. Este historial es almacenado en los servidores
                      internos de KIO que funcionan como </span></font>
                </font>
                <font face="Helvetica, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"><i>back-end</i></span></font>
                </font>
                <font face="Helvetica, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX"> de la aplicación KAI de
                      manera encriptada desde la base de datos.</span></font>
                </font>
              </span></p>

            <p align="left" class="western" style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>

            <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;"><span
                style="color:#333;">
                <font face="Helvetica, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">En las diferentes interacciones
                      que podrá hacer KAI con los Usuarios y viceversa, se tendrá la
                      opción de enviar o recibir documentos PDF, imágenes (JPG, PNG, etc),
                      archivos de texto plano.</span> </font>
                </font>
              </span></p>

            <p align="left" class="western" style="margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>

            <p align="left" class="western" lang="en-US"
              style="margin-left: 1cm; text-indent: -1cm; margin-bottom: 0cm; line-height: 100%;"><span
                style="color:#333;">
                <font face="Helvetica, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">A continuación, se muestran
                      algunas de las funciones que se pueden realizar con KAI:</span></font>
                </font>
              </span></p>

            <p align="left" class="western"
              style="margin-left: 1cm; text-indent: -1cm; margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>

            <ul>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Saludar (de manera
                          personalizada o no, utilizando los datos de registro, como el nombre del
                          Usuario).</span></font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Mencionar quién es
                          KAI.</span> </font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Mostrar ayuda.</span>
                      </font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Información sobre
                          KIO Networks o Managed Services.</span></font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Mostrar información
                          de servicios contratados con KIO Networks.</span></font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Mostrar tickets
                          activos.</span></font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Registrar ticket
                          nuevo.</span></font>
                    </font>
                  </span></p>
              </li>
              <li>
                <p align="left" class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%;">
                  <span style="color:#333;">
                    <font face="Helvetica, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">Mostrar estado de los
                          equipos y Servicios contratados con KIO Networks.</span></font>
                    </font>
                  </span></p>
              </li>
            </ul>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">KIO Networks se reserva el derecho
                      de modificar, agregar o eliminar funcionalidades o características, y
                      también suspender o interrumpir el servicio que se presta a través de
                      KAI, en cualquier momento y sin necesidad de aviso previo o cualquier otra
                      acción.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol start="4" type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>USOS
                              PERMITIDOS</b></span> </font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">El uso y aprovechamiento de los
                      servicios que se ofrecen a través de KAI a los Usuarios es y será
                      responsabilidad exclusiva de cada Usuario, quien en todo caso deberá hacer
                      uso de los mismos de conformidad con las funciones permitidas en la propia
                      herramienta KAI y serán exclusivamente para uso propio y monitoreo de equipos
                      del Usuario instalados en uno o varios Centros de Datos de KIO, o de la empresa a la
                      que representa. El uso que se haga de KAI no deberá atentar contra los
                      derechos de terceros, las buenas costumbres ni contravenir la legislación
                      vigente aplicable. EL USUARIO NO PODRÁ COMERCIALIZAR O LUCRAR DE MANERA
                      ALGUNA CON LA HERRAMIENTA KAI NI CON LOS SERVICIOS QUE OFRECE KIO NETWORKS A
                      TRAVÉS DE LA MISMA. EL USUARIO NO TENDRÁ DERECHO DE LIMITAR O IMPEDIR
                      A CUALQUIER OTRO USUARIO O EMPRESA EL USO DE LA HERRAMIENTA KAI.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol start="5" type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>SERVICIO AL
                              USUARIO</b></span> </font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p align="left" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">En caso de presentarse alguna
                      falla en KAI y/o en la Cuenta de Usuario, o en caso de cualquier aviso,
                      notificación, duda o comentario en relación con KAI, por favor
                      pónganse en contacto con KIO Networks a través de la siguiente cuenta
                      de correo electrónico: </span></font>
                </font>
              </span><u><a href="mailto:automation@kionetworks.com"><span style="color:#333;">
                    <font face="Arial, serif">
                      <font size="2" style="font-size: 10pt"><span lang="es-MX">automation@kionetworks.com</span>
                      </font>
                    </font>
                  </span></a></u><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Para cualquier asunto relacionado
                      con sus datos personales y el ejercicio de derechos en términos de lo
                      previsto en la Ley de Protección de Datos Personales en Posesión de
                      Particulares y su Reglamento, favor de remitirse a lo previsto en el Aviso de
                      Privacidad disponible en </span></font>
                </font>
              </span><u><a href="https://kai.kioapps.com/avisoprivacidad"><span style="color:#333;">
                    <font face="Arial, serif">
                      <font size="2" style="font-size: 10pt"><span
                          lang="es-MX">https://kai.kioapps.com/avisoprivacidad</span></font>
                    </font>
                  </span></a></u><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol start="6" type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>SEGURIDAD DE LA
                              INFORMACIÓN Y CONFIDENCIALIDAD</b></span></font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">KIO Networks garantiza la
                      seguridad de la información que se transmite entre la herramienta KAI y el
                      Usuario. La seguridad de la información que se transmite entre el Usuario y
                      páginas o sistemas de terceros enlazados a la herramienta, será
                      responsabilidad de dichos terceros. KIO Networks guardará la confidencialidad
                      de la información que reciba del Usuario y la que la herramienta KAI
                      enviará al Usuario. El personal de KIO Networks se encuentran capacitados
                      para el manejo seguro de sus datos, y KIO Networks tomará todas las medidas
                      que sean necesarias para que cualesquiera bases de datos y sistemas
                      informáticos se mantengan seguros y salvaguardar su confidencialidad.</span>
                  </font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol start="7" type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>PROPIEDAD
                              INTELECTUAL E INDUSTRIAL</b></span></font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Los derechos de propiedad
                      Intelectual e industrial respecto a la herramienta KAI y los dominios de la misma,
                      así como los derechos de uso, explotación, publicación,
                      reproducción, distribución y demás son propiedad exclusiva de
                      KIO Networks. Estos términos y condiciones y/o el uso de KAI no le otorgan a
                      los Usuarios de la herramienta KAI el derecho de utilizar, explotar o publicar los
                      derechos de propiedad industrial e intelectual de KIO Networks, incluyendo
                      cualesquiera marcas o logotipos, utilizados en KAI. En ningún momento el uso
                      de KAI por los Usuarios podrá considerarse como una autorización o
                      licencia para ofrecer a terceros o utilizar los servicios prestados por KIO Networks
                      a través de KAI con fines distintos a los previstos en estos Términos
                      y Condiciones.</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <ol start="8" type="A">
              <li>
                <p align="left" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                    <font size="2" style="font-size: 11pt">
                      <font face="Arial, serif">
                        <font size="2" style="font-size: 10pt"><span lang="es-MX"><b>LEY APLICABLE Y
                              JURISDICCIÓN</b></span></font>
                      </font>
                    </font>
                  </span></p>
              </li>
            </ol>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Estos términos y
                      condiciones de KAI se rigen por, y serán interpretados conforme a, las leyes
                      federales de los Estados Unidos Mexicanos. En caso de existir alguna controversia o
                      disputa en relación con estos términos y condiciones y/o con KAI, las
                      KIO Networks y los Usuarios se someten, expresa e irrevocablemente, a la
                      jurisdicción de los tribunales competentes de la Ciudad de México,
                      renunciando de manera expresa e irrevocable a cualquier otro fuero que pudiera
                      corresponderles en virtud de su domicilio presente o futuro o por cualquier
                      razón.</span> </font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%"><span style="color:#333;">
                <font face="Arial, serif">
                  <font size="2" style="font-size: 10pt"><span lang="es-MX">Fecha de Última
                      Modificación: Abril de 2019</span></font>
                </font>
              </span></p>

            <p class="western" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>

            <p class="western" lang="en-US" style="margin-bottom: 0cm; line-height: 100%">&nbsp;</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="ModalReg" tabindex="-1" role="dialog" aria-labelledby="ModalRegLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form class="form-md" autocomplete="off">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalRegLabel">{{accion}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="registro" *ngIf="!form.login && form.registro">
            <div class="form-group">
              <input id="nombre" [(ngModel)]="registro.nombre" name="nombre" pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚüÜ ]{3,23}"
                title="Debe indicar su nombre correctamente" autocomplete="off" required class="form-control"
                type="text" placeholder="Nombre">
            </div>
            <div class="form-group">
              <input id="empresa" [(ngModel)]="registro.empresa" autocomplete="off" name="empresa" class="form-control"
                type="text" placeholder="Empresa" required>

            </div>
            <div class="form-group">
              <input id="telefono" [(ngModel)]="registro.telefono" autocomplete="off" name="telefono" maxlength="10"
                pattern="^[6789]\d{8}$" title="Debe indicar un telefono válido" class="form-control" type="text"
                placeholder="Teléfono" required>
            </div>

            <div class="form-group">
              <input id="correo_electronico" [(ngModel)]="registro.correo_electronico" name="correo_electronico"
                class="form-control" type="email" placeholder="Correo electrónico" maxlength="100"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off" title="Debe indicar un correo
                válido" required>
            </div>
            <div class="form-group">
              <input id="contrasena" [(ngModel)]="registro.contrasena" autocomplete="off" name="contrasena"
                class="form-control" type="password" placeholder="Contraseña" required>

            </div>

            <div class="form-group">
              <input id="Confirmar_contrasena" [(ngModel)]="registro.Confirmar_contrasena" autocomplete="off"
                name="Confirmar_contrasena" class="form-control" type="password" placeholder="Confirmar contraseña"
                required>
            </div>
          </div>

          <div class="olvideclave" *ngIf="!form.login && form.olvideclave">
            <div class="form-group">
              <P>Recibirás en breve un correo con el proceso para recuperar tu contraseña</P>
            </div>
            <div class="form-group">
              <input id="emaillost" name="emaillost" [(ngModel)]="lostaccount.emaillost" autocomplete="off"
                class="form-control" type="email" placeholder="Correo electrónico" required>
            </div>
        </div>
        <div class="login" *ngIf="form.login">

          <button type="button" class="loginBtn loginBtn--google" (click)="signInWithGoogle()">Inicia sesión con
            Google</button>
          <div class="form-group">
            <input id="email" name="email" [(ngModel)]="ingreso.email" autocomplete="off" class="form-control"
              type="email" placeholder="Correo electrónico" required>
          </div>
          <div class="form-group">
            <input id="password" name="password" [(ngModel)]="ingreso.password" autocomplete="off" class="form-control"
              type="password" placeholder="Contraseña" required>
          </div>
          <a href="javascript:;" (click)="onlostPAss()">Has olvidado la contraseña?</a>
        </div>


    </div>
    <div class="modal-footer">
      <button *ngIf="!cargando" (click)="onSubmit(accion)"
        class="btn btn-primary submit-btn btn-block bn-modal">{{accion}}</button>
      <button *ngIf="cargando" [disabled]="true" class="btn btn-primary submit-btn btn-block bn-modal">
        <i class="fa fa-spin fa-sync"></i>
        Validando la información, Espere...
      </button>

    </div>
    </form>
  </div>
</div>
</div>
