h1 {
  font-family: Roboto;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  padding-top: 38px;
}

.p-data {
  width: 100%;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 36px;
}

.logo-top {
  padding-top: 134px;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 1900px) {
    padding-top: 194px;
  }


}

.kai4 {
  width: 100%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;

  padding-top: 36px;
  margin: 0 auto;
  padding-bottom: 9px;

  a {
    color: #fdcf00;
    text-decoration: none;
  }
}

.t-center {
  text-align: center;
}

.mb30 {
  margin-top: 30px;
}

.btn-primary {
  &.bn {
    width: 263px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 20px 20px 60px 0 rgba(0, 0, 0, 0.4);
    border: solid 2px #ffffff;
    background-color: transparent;
  }
}

.btn-secondary {
  &.bn {
    width: 263px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 20px 20px 60px 0 rgba(0, 0, 0, 0.4);
    border: solid 1px #ffffff;
    background-color: #ffffff;
    color: #091d2d;
  }
}

.footer-bottom {
  // padding: 15px 0 17px 0;
  // background: transparent;
  // text-align: right;
  // color: #aaa;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  padding: 15px 0 17px 0;
  background: transparent;
  text-align: right;
  color: #aaa;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  margin-top: 60px;

  a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-right: 10px;
  }


}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0b2336;
  border-color: #ffffff;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #0b2337;
  border-color: #ffffff;
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
  border-radius: 5px;
  box-shadow: 40px 40px 80px 0 rgba(2, 8, 22, 0.3);
  background-color: #fffffd;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 5px;
  outline: 0;
}

.modal-header {
  border: none;
}

.modal-body,
.modal-footer {

  padding-left: 98px;
  padding-right: 98px;
  text-align: center;
  margin: 0 auto;
  border: none;
}

.modal-header .close {
  padding: 0;
  margin: 0;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #472ab2;
}

.btn-primary {
  &.bn-modal {
    background: #472ab2;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    background-color: #472ab2;
    border: none;
    font-size: 12px;
    padding: 10px 50px 10px 50px;
    width: 300px;
  }

}


form {

  .form-md .form-group {
    margin-left: auto;
    margin-right: auto;
  }

  .form-group {
    margin-bottom: 15px;
    position: relative;
    width: 300px;

    p {
      font-family: Roboto;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.29;
      letter-spacing: normal;
      color: #595f6f;
    }
  }

  input {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: solid 1px #8c8c90;
    background-color: transparent;
    margin: 0px auto;
    padding: 20px 30px 20px 30px;
    outline: none !important;
    font-size: 12px;
    color: #3c3939;
    transition: all .2s ease-in-out;
    height: 50px;

  }

  ::-webkit-input-placeholder {
    text-align: left;
    color: #595F6F;
    font-size: 13px;
    font-weight: 200;
  }

  :-moz-placeholder {
    text-align: left;
    color: #595F6F;
    font-size: 13px;
    font-weight: 200;
  }

  ::-moz-placeholder {
    text-align: left;
    color: #595F6F;
    font-size: 13px;
    font-weight: 200;
  }

  :-ms-input-placeholder {
    text-align: left;
    color: #595F6F;
    font-size: 13px;
    font-weight: 200;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    display: block;
    width: 100%;
    height: 52px;
    line-height: 72px;
    text-transform: uppercase;
    font-size: 0px;
    font-weight: 200;
    background: transparent;
    color: #595f6f;
    margin: 0px auto;
    cursor: text;
    transition: all .15s ease-in-out;

  }

  input:hover,
  input:focus {
    border-color: #595f6f;
  }

  input:focus {
    background-position: left bottom;
    background-size: 100% 1px;
  }

  input:valid+label,
  input:focus+label {
    height: 20px;
    line-height: 16px;
    font-size: 8px;
    color: #20262b;
    padding-left: 9px;
  }

  input:focus ::-webkit-input-placeholder {
    color: transparent;
    font-size: 0;
  }

  input:focus :-moz-placeholder {
    color: transparent;
    font-size: 0;
  }

  input:focus ::-moz-placeholder {
    color: transparent;
    font-size: 0;
  }

  input:focus :-ms-input-placeholder {
    color: transparent;
    font-size: 0;
  }

  .form-control:focus,
  .form-control:hover {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
    border: 1px solid #595f6f !important;
  }

  /* Shared */
  .loginBtn {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-sizing: border-box;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 100%;
    margin-top: 10px;
    height: 41px;
  }

  .loginBtn:hover {
    cursor: pointer;
  }

  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }

  .loginBtn:focus {
    outline: none;
  }

  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
  }

  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }

  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 9px no-repeat;
  }

  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }
}

.nopd {
  padding-left: 65px;
  text-align: justify;
  margin: 0;
  padding-right: 65px;
  padding-bottom: 25px;

}

.scrol {
  height: 400px !important;
  overflow: scroll;
  font-size: 12px;
}
