<!-- partial:../../partials/_navbar.html -->
<header class="container-fluid bg-header">
  <nav class="navbar default-layout col-sm-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" href="javascript:;" (click)="vef()">
        <img src="assets/images/logo-interno.png" width="189" height="37" alt="logo" />
      </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="nav">
        <ng-container *ngIf="!rol">
          <li class="nav-item">
            <a class="nav-link btn btn-primary" [routerLink]="'/'" [queryParams]="{registro: 'on'}">Signup
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-primary btn-sec" [routerLink]="'/'" [queryParams]="{login: 'on'}">Log In
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="rol">
          <li class="nav-item" *ngFor="let item of navigation; let i=index">
            <a class="nav-link {{item.estado}}" id="{{i}}-nav" [routerLink]="item.ruta"
              [queryParams]="{link: item.parametro}" [routerLinkActive]="['active', '']">{{item.name}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </nav>

</header>
