body {
  background: url('assets/images/bg/bgnew.png');
  background-color: #010101;
  background-size: cover;
  background-repeat: no-repeat;
 



}

app-splash {
  .splash {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}





// .container-scroller {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;

//   app-splash,
//   app-slides,
//   app-bot {
//     width: 100%;
//   }
// }


.kio_logo_amarillo {
  width: 314px;
  height: 182px;
  object-fit: contain;
  text-align: center;
}

.fixed-top {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-header {
  height: 100px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(68, 71, 79, .8));

  nav {
    line-height: 80px;

    div {
      ul {
        li {

          a {
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #798893;

            &.btn-primary:not(:disabled):not(.disabled).active,
            .btn-primary:not(:disabled):not(.disabled):active,
            .show>.btn-primary.dropdown-toggle {
              color: #fff;
              background-color: transparent;
              border-color: #ffffff;
              box-shadow: none;
            }

            &.btn-primary:not(:disabled):not(.disabled).active:focus,
            .btn-primary:not(:disabled):not(.disabled):active:focus,
            .show>.btn-primary.dropdown-toggle:focus {
              box-shadow: none;
            }

            &.btn {
              color: #fff;
              margin-left: 18px;
              border-radius: 5px;
              box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
              background-color: #472ab2;
              border: solid 1px #472ab2;

            }

            &.btn-sec {
              border-radius: 5px;
              border: solid 1px #ffffff;
              background-color: transparent;
            }

            &.active {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.article {
  margin-top: 100px;
  padding-top: 30px;
  background-color: #fff;
  padding-bottom: 30px;
  margin-bottom: 80px;

  /*
  font-family: Roboto;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #091d2d;
  */

  .carousel-inner {
    .carousel-item {
      .row {
        div {
          &.caption {
            padding-top: 80px;
            padding-right: 30px;
            padding-left: 30px;
            margin: 0 auto;
          }

          p {
            font-family: Roboto;
            font-size: 32px;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #091d2d;
            font-weight: 300;
            margin: 0;
            padding: 0;


            &.bolderh3 {
              font-family: Roboto;
              font-size: 48px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: normal;
              color: #091d2d;
              margin: 0;
              padding: 0;


            }
          }
        }
      }
    }
  }
}

.carousel-control-next-icon {
  background-image: url('assets/images/icon/arrow-right.svg') !important;
}

.carousel-control-prev-icon {
  background-image: url('assets/images/icon/arrow-left.svg') !important;

}
